version: "3"

services:
  mc:
    image: itzg/minecraft-server:java17
    ports:
      - 20242:25565
    environment:
      EULA: "TRUE"
      DIFFICULTY: "easy"
      SERVER_NAME: "Youlz Server"
      MODRINTH_MODPACK: "/modpacks/BCG_Warny_Edit.mrpack"
      MODRINTH_LOADER: "FABRIC"
      TYPE: "MODRINTH"
      OPS: "Barlitox,4e5998ca-2e18-49bf-8a0a-60c5de0a6553,ggWilly,a399c5cc-a4a4-4106-9005-3e1c58c20d16"
      EXISTING_OPS_FILE: "SYNCHRONIZE"
      MEMORY: 8G
      VERSION: 1.20.1
      MOTD: "Bienvenue sur le serveur des BigChadGuys Youlz + Warny Edit avec les Cobblemon"
      ICON: "https://media.forgecdn.net/avatars/thumbnails/1016/705/256/256/638542712707334873_animated.gif"
      ENABLE_AUTOPAUSE: "TRUE"
      ENABLE_WHITELIST: "TRUE"
      OVERRIDE_WHITELIST: "TRUE"
      WHITELIST: "Barlitox,4e5998ca-2e18-49bf-8a0a-60c5de0a6553,ggWarny,d04cc87c-c844-4a66-8800-226b269b5356,ggWilly,a399c5cc-a4a4-4106-9005-3e1c58c20d16,Mr__Valk,76e2d9f2-e931-4eaa-a94a-dad3bf46b122,Tykaa,9f672e7f-ad9f-4271-aaac-784129b3a99e,BoscoMout,05b24b56-4fc4-4aab-812a-0bddec4187f7"
      MAX_TICK_TIME: -1
      VIEW_DISTANCE: 32
    tty: true
    stdin_open: true
    restart: unless-stopped
    volumes:
      - ./minecraft-data:/data
      - ./worlds:/worlds:ro
      - ./modpacks:/modpacks
      - ./mods:/data/mods
      - ./plugins:/data/plugins
