version: "3"

services:
  mc:
    image: itzg/minecraft-server:java21-jdk
    ports:
      - 25565:25565
      - 24454:24454/udp
    environment:
      JVM_OPTS: "-Xms20G -Xmx20G -XX:+UseZGC -XX:+ZGenerational -XX:+AlwaysPreTouch -XX:+UseStringDeduplication"
      EULA: "TRUE"        
      DIFFICULTY: "hard"
      SERVER_NAME: "Youlz Cobblemon Server"
      TYPE: "MODRINTH"
      MODRINTH_MODPACK: "/modpacks/modpack.mrpack"
      OPS: "Barlitox,4e5998ca-2e18-49bf-8a0a-60c5de0a6553,ggWarny,d04cc87c-c844-4a66-8800-226b269b5356"
      EXISTING_OPS_FILE: "SYNCHRONIZE"
      MEMORY: 20G
      MOTD: "Bienvenue sur le serveur Cobblemon des Youlz"
      ICON: "https://cdn.discordapp.com/icons/188982456324456448/6d541df933bd05689ab8a545bbbce6cb.webp"
      ENABLE_AUTOPAUSE: "FALSE"
      ENABLE_WHITELIST: "TRUE"
      OVERRIDE_WHITELIST: "FALSE"
      WHITELIST: "Barlitox,4e5998ca-2e18-49bf-8a0a-60c5de0a6553,ggWarny,d04cc87c-c844-4a66-8800-226b269b5356"
      MAX_TICK_TIME: -1
      VIEW_DISTANCE: 6
      SEED: "6201846587634054895"
      SPAWN_PROTECTION: 0
    tty: true
    stdin_open: true
    restart: unless-stopped
    volumes:
      - ./minecraft-data:/data
      - ./worlds:/worlds:ro
      - ./modpacks:/modpacks
      - ./mods:/data/mods
      - ./plugins:/data/plugins
