# Configuration file

##########################################################################################################
# clientonly
#--------------------------------------------------------------------------------------------------------#
# Ces paramètres affectent seulement le client utilisant le mod.
##########################################################################################################

clientonly {
    # Set this to 0 if you find that iChunUtil is spawning a lot of these entities and is causing lag. Might affect some of my mods. I've not been able to pinpoint the issue, mind, but if you are not having any memory issues ignore this setting.
    I:enableLatchedRendererSpawn=1

    # Set this to 0 if you're crashing when the game launches because you do not have stencils enabled.
    I:enableStencils=1
}


module {

    ##########################################################################################################
    # compactporkchop
    #--------------------------------------------------------------------------------------------------------#
    # Configs for the compact porkchop block module in iChunUtil.
    ##########################################################################################################

    compactporkchop {

        block {
            # Enable the Compact Raw Porkchop block recipe?
            I:enableCompactPorkchop=1
        }

    }

    ##########################################################################################################
    # eula
    #--------------------------------------------------------------------------------------------------------#
    # EULA settings.
    ##########################################################################################################

    eula {

        general {
            # String to say that you've acknowledged the EULA
            # If this config is for a server, set it to true.
            S:eulaAcknowledged=Alkasym
        }

    }

    ##########################################################################################################
    # versioncheck
    #--------------------------------------------------------------------------------------------------------#
    # These configs are for the mod version update checker for iChun's mods.
    ##########################################################################################################

    versioncheck {

        general {
            # Quand serez vous averti des mises à jour ? (Configuration client)
            # 0 = Dès que vous vous connectez au serveur
            # 1 = Une fois par jour
            # 2 = Une seule fois jusqu'à la prochaine mise à jour.
            # 3 = Jamais (Cela cache juste les notifications. Le mod continuera tout de même à vérifier les mises à jour et à les afficher dans la console).
            I:versionNotificationFrequency=2

            # Comment le CLIENT sera averti des mises à jour ? (Les serveurs auront toujours cette notification affichée dans la console. En solo, vous rejoignez un serveur auto-hébergé)
            # 0 = Avertir des mises à jour peu importe le statut du joueur (admin ou pas).
            # 1 = Avertir seulement les admins des mises à jour (Les mises à jour de mods client seul s'afficheront quand même)
            # 2 = Autoriser les notifications par le client.
            I:versionNotificationTypes=0

            # Ce sont des informations de sauvegarde pour le système de vérification de sauvegarde. N'y touchez pas sauf si vous voulez casser des trucs.
            I:versionSave=8
        }

    }

}


